@import ~normalize.css
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap')
@import _header.sass
@import _toolbar.sass
@import _formula.sass
@import _table.sass
@import _dashboard.sass

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: 'Roboto', sans-serif
  font-size: 12px
  line-height: 18px

.exel
  position: relative
  color: #888
  height: 100%
  max-width: 100%
  font-size: .8rem